<h1>ПЯТНАШКИ</h1>
<table border="2">
  <tr>
    <tr>
    	<td><%= link_to "1", game_show_path %></td>
    	<td><%= link_to "2", game_show_path %></td>
    	<td><%= link_to "3", game_show_path %></td>
    	<td><%= link_to "4", game_show_path %></td>
    </tr>
    <tr>
    	<td><%= link_to "5", game_show_path %></td>
    	<td><%= link_to "6", game_show_path %></td>
    	<td><%= link_to "7", game_show_path %></td>
    	<td><%= link_to "8", game_show_path %></td>
    </tr>
    <tr>
    	<td><%= link_to "9", game_show_path %></td>
    	<td><%= link_to "10", game_show_path %></td>
    	<td><%= link_to "11", game_show_path %></td>
    	<td><%= link_to "12", game_show_path %></td>
    </tr>
    <tr>
    	<td><%= link_to "13", game_show_path %></td>
    	<td><%= link_to "14", game_show_path %></td>
    	<td><%= link_to "15", game_show_path %></td>
    	<td><%= link_to "16", game_show_path %></td>
    </tr>
  </tr>
</table>